@import "../../../assets/stylesheets/variables";

.footer {
    padding: 1px 0;
    background:  $light_gray;
    color:  $light_gray2;
    border-top:  $light_gray2;
    border-bottom:  $light_gray2;

    p {
        margin: 10px 0;
    }
}