<h1>{{ title | capitalize }}</h1>

<app-form-field [fieldSpecs]="textField"></app-form-field>

<br />

<app-form-field [fieldSpecs]="passwordField"></app-form-field>

<!--<br />

<app-form-field [fieldSpecs]="radioField1"></app-form-field>

<br />

<app-form-field [fieldSpecs]="radioField2"></app-form-field>

<br />-->

<app-form-field [fieldSpecs]="radios"></app-form-field>

<!--<br />

<app-form-field [fieldSpecs]="checkboxField1"></app-form-field>

<br />

<app-form-field [fieldSpecs]="checkboxField2"></app-form-field>

<br />-->

<app-form-field [fieldSpecs]="checkboxes"></app-form-field>

<br />

<app-form-field [fieldSpecs]="numberField"></app-form-field>

<br />

<app-form-field [fieldSpecs]="dropdownField"></app-form-field>

<br />

<app-form-field [fieldSpecs]="textareaField"></app-form-field>

<br />

<app-form-field [fieldSpecs]="buttonField"></app-form-field>

<br />

<app-form-field [fieldSpecs]="submitField"></app-form-field>