<h1>{{ title | capitalize }}</h1>

<form
  [formGroup]="myForm"
  (ngSubmit)="onSubmit(myForm.value)">

  <div
    *ngIf="formSubmitted">
    <p>the form was just submitted</p>
  </div>

  <app-form-field [fieldSpecs]="textField" [group]="myForm"></app-form-field>

  <br />

  <app-form-field [fieldSpecs]="passwordField" [group]="myForm"></app-form-field>

  <br />

  <app-form-field [fieldSpecs]="radios" [group]="myForm"></app-form-field>

  <br />

  <app-form-field [fieldSpecs]="checkboxes" [group]="myForm"></app-form-field>

  <br />

  <app-form-field [fieldSpecs]="numberField" [group]="myForm"></app-form-field>

  <br />

  <app-form-field [fieldSpecs]="dropdownField" [group]="myForm"></app-form-field>

  <br />

  <app-form-field [fieldSpecs]="textareaField" [group]="myForm"></app-form-field>

  <br />

  <app-form-field [fieldSpecs]="buttonField" [group]="myForm"></app-form-field>

  <br />

  <input type="submit" value="submit">

</form>