<h1>{{ title | capitalize }}</h1>

<form
  [formGroup]="myForm"
  (ngSubmit)="onSubmit(myForm.value)">

  <div
    *ngIf="formSubmitted">
    <p>the form was just submitted</p>
  </div>

  <app-form-field [group]="myForm" [fieldSpecs]="textField"></app-form-field>

  <br />

  <app-form-field [group]="myForm" [fieldSpecs]="passwordField"></app-form-field>

  <br />

  <app-form-field [group]="myForm" [fieldSpecs]="radios"></app-form-field>

  <br />

  <app-form-field [group]="myForm" [fieldSpecs]="checkboxes"></app-form-field>

  <br />

  <app-form-field [group]="myForm" [fieldSpecs]="numberField"></app-form-field>

  <br />

  <app-form-field [group]="myForm" [fieldSpecs]="dropdownField"></app-form-field>

  <br />

  <app-form-field [group]="myForm" [fieldSpecs]="textareaField"></app-form-field>

  <br />

  <app-form-field [group]="myForm" [fieldSpecs]="buttonField"></app-form-field>

  <br />

  <input type="submit" value="submit">

</form>