<div class="field">

  <label>{{ fieldProperties.label | capitalize }}</label>

  <div [formGroup]="group">
    <input
      type="text"
      [name]="fieldProperties.name"
      [placeholder]="fieldProperties.placeholder"
      [value]="fieldProperties.value"
      [formControlName]="fieldProperties.name">

    <app-prompt
      [visible]="(group.controls[fieldProperties.name].invalid && group.controls[fieldProperties.name].dirty) || (group.controls[fieldProperties.name].invalid && formSubmitted)"
      [atts]="prompt"
      [prompt_msg]="prompt_msg"></app-prompt>
  </div>
</div>