<div class="field">

  <label>{{ fieldProperties.label | capitalize }}</label>

  <div [formGroup]="group">
    <select
      [name]="fieldProperties.name"
      [formControlName]="fieldProperties.name">
      <option
        *ngFor="let option of fieldProperties.options"
        [value]="option.value"
        [selected]="option.selected">{{ option.text }}</option>
    </select>

    <app-prompt
      [visible]="group.controls[fieldProperties.name].invalid && group.controls[fieldProperties.name].dirty"
      [atts]="prompt"></app-prompt>
  </div>
</div>
