<div class="field">

  <label>{{ fieldProperties.label | capitalize }}</label>

  <div [formGroup]="group">
    <input
      type="number"
      [name]="fieldProperties.name"
      [value]="fieldProperties.value"
      [min]="fieldProperties.min"
      [max]="fieldProperties.max"
      [step]="fieldProperties.step"
      [formControlName]="fieldProperties.name">
  </div>

  <app-prompt
    [visible]="group.controls[fieldProperties.name].invalid && group.controls[fieldProperties.name].dirty"
    [atts]="prompt"></app-prompt>
</div>
