<div class="ui input" [ngSwitch]="fieldProperties.type">
  
  <div *ngSwitchCase="inputType.textbox">
      <app-textbox [group]="group" [formSubmitted]="formSubmitted" [fieldSpecs]="fieldProperties"></app-textbox>
  </div>

  <div *ngSwitchCase="inputType.password">
    <app-password [group]="group" [formSubmitted]="formSubmitted" [fieldSpecs]="fieldProperties"></app-password>
  </div>

  <div *ngSwitchCase="inputType.radio">
    <app-radio [group]="group" [fieldSpecs]="fieldProperties"></app-radio>
  </div>

  <div *ngSwitchCase="inputType.radiogroup">
    <app-radio-group [group]="group" [formSubmitted]="formSubmitted" [fieldSpecs]="fieldProperties"></app-radio-group>
  </div>

  <div *ngSwitchCase="inputType.checkbox">
    <app-checkbox [group]="group" [fieldSpecs]="fieldProperties"></app-checkbox>
  </div>

  <div *ngSwitchCase="inputType.checkboxgroup">
    <app-checkbox-group [group]="group" [formSubmitted]="formSubmitted" [fieldSpecs]="fieldProperties"></app-checkbox-group>
  </div>

  <div *ngSwitchCase="inputType.number">
    <app-number [group]="group" [formSubmitted]="formSubmitted" [fieldSpecs]="fieldProperties"></app-number>
  </div>

  <div *ngSwitchCase="inputType.dropdown">
    <app-dropdown [group]="group" [formSubmitted]="formSubmitted" [fieldSpecs]="fieldProperties"></app-dropdown>
  </div>

  <div *ngSwitchCase="inputType.textarea">
    <app-textarea [group]="group" [formSubmitted]="formSubmitted" [fieldSpecs]="fieldProperties"></app-textarea>
  </div>

  <div *ngSwitchCase="inputType.button">
    <app-button [group]="group" [fieldSpecs]="fieldProperties"></app-button>
  </div>

  <div *ngSwitchCase="inputType.submit">
    <app-submit [group]="group" [fieldSpecs]="fieldProperties"></app-submit>
  </div>

</div>
