<div class="field">

  <label>{{ fieldProperties.label | capitalize }}</label>

  <div [formGroup]="group">
    <textarea
      [name]="fieldProperties.name"
      [rows]="fieldProperties.rows"
      [cols]="fieldProperties.cols"
      [placeholder]="fieldProperties.placeholder"
      [formControlName]="fieldProperties.name">{{ fieldProperties.value }}</textarea>

    <app-prompt
      [visible]="group.controls[fieldProperties.name].invalid && group.controls[fieldProperties.name].dirty"
      [atts]="prompt"></app-prompt>
  </div>
</div>
