<div class="field">

  <label>{{ fieldProperties.label | myCapitalize }}</label>

  <div [formGroup]="group">
    <textarea
      [name]="fieldProperties.name"
      [rows]="fieldProperties.rows"
      [cols]="fieldProperties.cols"
      [placeholder]="fieldProperties.placeholder"
      [formControlName]="fieldProperties.name"
      (keyup)="managePrompt()">{{ fieldProperties.value }}</textarea>

    <app-prompt
      [visible]="promptVisibility"
      [atts]="prompt"
      [promptMsg]="prompt.msg"></app-prompt>
  </div>
</div>
