<div>
  <ul>
    <li><a [routerLink]="['/']">home</a></li>
    <li>
      <a [routerLink]="['/components']">Enums</a>

      <ul>
        <li><a [routerLink]="['/components']">input Type</a></li>
        <li><a [routerLink]="['/components']">prompt style</a></li>
        <li><a [routerLink]="['/components']">prompt type</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/components']">Types</a>

      <ul>
        <li><a [routerLink]="['/components']">field</a></li>
        <li><a [routerLink]="['/components']">field group</a></li>
        <li><a [routerLink]="['/components']">textbox</a></li>
        <li><a [routerLink]="['/components']">password</a></li>
        <li><a [routerLink]="['/components']">radio button</a></li>
        <li><a [routerLink]="['/components']">radio group</a></li>
        <li><a [routerLink]="['/components']">checkbox</a></li>
        <li><a [routerLink]="['/components']">checkbox group</a></li>
        <li><a [routerLink]="['/components']">number</a></li>
        <li><a [routerLink]="['/components']">dropdown</a></li>
        <li><a [routerLink]="['/components']">option</a></li>
        <li><a [routerLink]="['/components']">textarea</a></li>
        <li><a [routerLink]="['/components']">button</a></li>
        <li><a [routerLink]="['/components']">submit button</a></li>
        <li><a [routerLink]="['/components']">prompt</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/components']">Classes</a>

      <ul>
        <li><a [routerLink]="['/components']">field</a></li>
        <li><a [routerLink]="['/components']">field group</a></li>
        <li><a [routerLink]="['/components']">textbox</a></li>
        <li><a [routerLink]="['/components']">password</a></li>
        <li><a [routerLink]="['/components']">radio button</a></li>
        <li><a [routerLink]="['/components']">radio group</a></li>
        <li><a [routerLink]="['/components']">checkbox</a></li>
        <li><a [routerLink]="['/components']">checkbox group</a></li>
        <li><a [routerLink]="['/components']">number</a></li>
        <li><a [routerLink]="['/components']">dropdown</a></li>
        <li><a [routerLink]="['/components']">option</a></li>
        <li><a [routerLink]="['/components']">textarea</a></li>
        <li><a [routerLink]="['/components']">button</a></li>
        <li><a [routerLink]="['/components']">submit button</a></li>
        <li><a [routerLink]="['/components']">prompt</a></li>
      </ul>
    </li>
    <li>
      <a [routerLink]="['/components']">Components</a>

      <ul>
        <li><a [routerLink]="['/components']">form field</a></li>
        <li><a [routerLink]="['/components']">textbox field</a></li>
        <li><a [routerLink]="['/components']">password field</a></li>
        <li><a [routerLink]="['/components']">radio button field</a></li>
        <li><a [routerLink]="['/components']">radio group</a></li>
        <li><a [routerLink]="['/components']">checkbox field</a></li>
        <li><a [routerLink]="['/components']">checkbox group</a></li>
        <li><a [routerLink]="['/components']">number field</a></li>
        <li><a [routerLink]="['/components']">dropdown field</a></li>
        <li><a [routerLink]="['/components']">textarea field</a></li>
        <li><a [routerLink]="['/components']">button field</a></li>
        <li><a [routerLink]="['/components']">submit button field</a></li>
        <li><a [routerLink]="['/components']">prompt</a></li>
      </ul>
    </li>
    <li><a [routerLink]="['/form-example']">working form</a></li>
  </ul>
</div>