<div>
  <ul>
    <li><a [ngClass]="{'capitalize': true}" [routerLink]="['/']">home</a></li>
    <li>
      <a [ngClass]="{'capitalize': true}" [routerLink]="['/enums']">enums</a>

      <ul>
        <li><a [routerLink]="['/enums/input-type']">input Type</a></li>
        <li><a [routerLink]="['/enums/prompt-style']">prompt style</a></li>
        <li><a [routerLink]="['/enums/prompt-type']">prompt type</a></li>
      </ul>
    </li>
    <li>
      <a [ngClass]="{'capitalize': true}" [routerLink]="['/interfaces']">interfaces</a>

      <ul>
        <li><a [routerLink]="['/interfaces/field']">field</a></li>
        <li><a [routerLink]="['/interfaces/field-group']">field group</a></li>
        <li><a [routerLink]="['/interfaces/textbox']">textbox</a></li>
        <li><a [routerLink]="['/interfaces/password']">password</a></li>
        <li><a [routerLink]="['/interfaces/radio-button']">radio button</a></li>
        <li><a [routerLink]="['/interfaces/radio-group']">radio group</a></li>
        <li><a [routerLink]="['/interfaces/checkbox']">checkbox</a></li>
        <li><a [routerLink]="['/interfaces/checkbox-group']">checkbox group</a></li>
        <li><a [routerLink]="['/interfaces/number']">number</a></li>
        <li><a [routerLink]="['/interfaces/dropdown']">dropdown</a></li>
        <li><a [routerLink]="['/interfaces/option']">option</a></li>
        <li><a [routerLink]="['/interfaces/textarea']">textarea</a></li>
        <li><a [routerLink]="['/interfaces/button']">button</a></li>
        <li><a [routerLink]="['/interfaces/submit']">submit button</a></li>
        <li><a [routerLink]="['/interfaces/prompt']">prompt</a></li>
      </ul>
    </li>
    <li>
      <a [ngClass]="{'capitalize': true}" [routerLink]="['/classes']">classes</a>

      <ul>
        <li><a [routerLink]="['/classes/field']">field</a></li>
        <li><a [routerLink]="['/classes/field-group']">field group</a></li>
        <li><a [routerLink]="['/classes/textbox']">textbox</a></li>
        <li><a [routerLink]="['/classes/password']">password</a></li>
        <li><a [routerLink]="['/classes/radio-button']">radio button</a></li>
        <li><a [routerLink]="['/classes/radio-group']">radio group</a></li>
        <li><a [routerLink]="['/classes/checkbox']">checkbox</a></li>
        <li><a [routerLink]="['/classes/checkbox-group']">checkbox group</a></li>
        <li><a [routerLink]="['/classes/number']">number</a></li>
        <li><a [routerLink]="['/classes/dropdown']">dropdown</a></li>
        <li><a [routerLink]="['/classes/option']">option</a></li>
        <li><a [routerLink]="['/classes/textarea']">textarea</a></li>
        <li><a [routerLink]="['/classes/button']">button</a></li>
        <li><a [routerLink]="['/classes/submit-button']">submit button</a></li>
        <li><a [routerLink]="['/classes/prompt']">prompt</a></li>
      </ul>
    </li>
    <li>
      <a [ngClass]="{'capitalize': true}" [routerLink]="['/components']">components</a>

      <ul>
        <li><a [routerLink]="['/components/form-field']">form field</a></li>
        <li><a [routerLink]="['/components/textbox-field']">textbox field</a></li>
        <li><a [routerLink]="['/components/password-field']">password field</a></li>
        <li><a [routerLink]="['/components/radio-button-field']">radio button field</a></li>
        <li><a [routerLink]="['/components/radio-group']">radio group</a></li>
        <li><a [routerLink]="['/components/checkbox-field']">checkbox field</a></li>
        <li><a [routerLink]="['/components/checkbox-group']">checkbox group</a></li>
        <li><a [routerLink]="['/components/number-field']">number field</a></li>
        <li><a [routerLink]="['/components/dropdown-field']">dropdown field</a></li>
        <li><a [routerLink]="['/components/textarea-field']">textarea field</a></li>
        <li><a [routerLink]="['/components/button-field']">button field</a></li>
        <li><a [routerLink]="['/components/submit-button-field']">submit button field</a></li>
        <li><a [routerLink]="['/components/prompt']">prompt</a></li>
      </ul>
    </li>
    <li>
      <a [ngClass]="{'capitalize': true}" [routerLink]="['/examples']">examples</a>
    
    <ul>
        <li><a [routerLink]="['/examples/form']">form</a></li>
      </ul>
    </li>
  </ul>
</div>