body {
    padding: 0;
    margin: 0;
}

.inline {
    display: inline;
}

.center_text {
    text-align: center;
}

.main-content {
    padding: 20px 0;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear,
.cleafix {
    clear: both;
}

.sidebar {
    overflow-y: scroll;
    height: 865px;

    ul {
        margin: 0;
        padding: 0;

        & > li {
            list-style: none;
            padding: 5px 0;

            ul {
                padding-left: 40px;

                li {
                    list-style: disc;
                }
            }
        }
    }
}

.content {
    padding-left: 50px;
}

a {
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
    }

    &.current {
        color: red;
    }
}

.page_title {
    margin-top: 0;
    padding-bottom: 25px;
}

.underline {
    text-decoration: underline;
}

.italics {
    font-style: italic;
}

.capitalize {
    text-transform: capitalize;
}

.loading {
    text-align: center;
    padding: 100px 0;
}